@{
    ViewBag.Title = "Coberturas";
}

<main>
    <section id="home" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="display-2">
                        <span class="display-2--intro">
                            TIPOS DE COBERTURAS
                        </span>
                        <span class="display-2--description">
                            <br>
                            <strong> PLANES </strong> - Tenemos los planes más completos del mercado, con un costo
                            inigualable...
                            <br>
                            <br>
                            <br>
                            <h4>1. RESPONSABILIDAD CIVIL:</h4> Es la cobertura básica, obligatoria por ley, que cubre los daños que
                            se pueden ocasionar a terceros transportados o no en tu vehículo y 2 servicio de grúa por año.
                            <BR>
                            <br>
                            <h4>2. TERCERO COMPLETO:</h4> Incluye la Cobertura de RC, más la cobertura de Incendio (Total y
                            Parcial), Robo (Total y Parcial), Destrucción Total, cristales, cerradura y 5 servicio de grúa por año.
                            <br>
                            <br>
                            <h4>3. TODO RIESGO:</h4> Incluye la Cobertura de TC, más los daños parciales que pueda tener tu vehículo
                            con la aplicación de una franquicia.
                            <br>
                            <br>
                        </span>
                    </h1>
                </div>
                <div class="col">
                    <div class="img-box">
                        <img src="/Imagenes/carro.jpg" alt="Planes y/o coberturas" />
                    </div>
                </div>
            </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#fff" fill-opacity="1"
                  d="M0,96L48,117.3C96,139,192,181,288,176C384,171,480,117,576,122.7C672,128,768,192,864,197.3C960,203,1056,149,1152,144C1248,139,1344,181,1392,202.7L1440,224L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
            </path>
        </svg>
    </section>
    <section class="download">
        <div class="container">
            <br>
            <div class="row">
                <div class="col">
                    <div class="download__logo-box">
                        <h4 id="subtituloServicio" class="download__title"> Atención las 24 Hrs</h4>
                        <a href="" target="blank">
                            <img src="/Imagenes/Diseño sin título.png" alt="Call Center"
                                 class="imagen" />
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="download__logo-box">
                        <h4 id="subtituloServicio" class="download__title"> Costo-Beneficio </h4>
                        <a href="" target="blank">
                            <img src="/Imagenes/Diseño sin título (1).png" alt="Inversión"
                                 class="imagen" />
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="download__logo-box">
                        <h4 id="subtituloServicio" class="download__title"> Servicios de Urgencia! </h4>
                        <a href="" target="blank">
                            <img src="/Imagenes/Diseño sin título (2).png"
                                 alt="Descargar desde Windows Store" class="imagen" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>