@{
    ViewBag.Title = "Coberturas";
}

<main>
    <!-- SECTION: Introducción -->
    <section class="intro bg-light py-5">
        <div class="container text-center">
            <h2 class="display-4 mb-4 text-success">Nuestros Planes de Cobertura</h2>
            <p class="lead">En Seguranet, ofrecemos planes de aseguramiento de autos adaptados a tus necesidades. Conoce nuestras opciones y elige la que mejor se adapte a ti.</p>
        </div>
    </section>

    <!-- SECTION: Planes de Cobertura -->
    <section class="plans py-5">
        <div class="container">
            <div class="row">

                <!-- Plan A -->
                <div class="col-md-3 mb-4">
                    <div class="card text-center shadow-sm hover-shadow">
                        <div class="card-header bg-success text-white">
                            <h5>Plan A - Respons. Civil</h5>
                        </div>
                        <div class="card-body">
                            <!-- Imagen de "Destrucción Total" -->
                            <img src="~/Imagenes/Escarabajo.jpg" alt="Destrucción Total" class="img-fluid mb-3 plan-img shadow">
                            <p class="card-text">Cobertura Básica y obligatoria por ley para poder circular.</p>
                            <ul class="list-unstyled">
                                <li><i class="fas fa-check"></i> Responsabilidad Civil únicamente</li>
                                <li><i class="fas fa-check"></i> <strong>3</strong> Servicios de Grúa por año</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Plan B -->
                <div class="col-md-3 mb-4">
                    <div class="card text-center shadow-sm hover-shadow">
                        <div class="card-header bg-success text-white">
                            <h5>Plan B - Todo Total</h5>
                        </div>
                        <div class="card-body">
                            <!-- Imagen de "Todo Total" -->
                            <img src="~/Imagenes/clio.jpg" alt="Todo Total" class="img-fluid mb-3 plan-img shadow">
                            <p class="card-text">Protección amplia que incluye cobertura contra robos, incendios, y daños a tu auto por accidentes.</p>
                            <ul class="list-unstyled">
                                <li><i class="fas fa-check"></i> Responsabilidad Civil únicamente</li>
                                <li><i class="fas fa-check"></i> <strong>Robo Total</strong></li>
                                <li><i class="fas fa-check"></i> <strong>Incendio Total</strong></li>
                                <li><i class="fas fa-check"></i> <strong>Destrucción Total</strong></li>
                                <li><i class="fas fa-check"></i> <strong>5</strong> Servicios de Grúa por año</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Plan C -->
                <div class="col-md-3 mb-4">
                    <div class="card text-center shadow-sm hover-shadow">
                        <div class="card-header bg-success text-white">
                            <h5>Plan C - Tercero Completo</h5>
                        </div>
                        <div class="card-body">
                            <!-- Imagen de "Tercero Completo" -->
                            <img src="~/Imagenes/Audi.jpg" alt="Tercero Completo" class="img-fluid mb-3 plan-img shadow">
                            <p class="card-text">La mejor protección para tu vehículo, cubriendo todo lo incluido en la cobertura intermedia.</p>
                            <ul class="list-unstyled">
                                <li><i class="fas fa-check"></i> Responsabilidad Civil únicamente</li>
                                <li><i class="fas fa-check"></i> Robo Total</li>
                                <li><i class="fas fa-check"></i> <strong>Robo Parcial</strong></li>
                                <li><i class="fas fa-check"></i> Incendio Total</li>
                                <li><i class="fas fa-check"></i> <strong>Incendio Parcial</strong></li>
                                <li><i class="fas fa-check"></i> Destrucción Total</li>
                                <li><i class="fas fa-check"></i> <strong>10</strong> Servicios de Grúa por año</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Plan D -->
                <div class="col-md-3 mb-4">
                    <div class="card text-center shadow-sm hover-shadow">
                        <div class="card-header bg-success text-white">
                            <h5>Plan D - Todo Riesgo</h5>
                        </div>
                        <div class="card-body">
                            <!-- Imagen de "Todo Riesgo" -->
                            <img src="~/Imagenes/mclaren.jpg" alt="Todo Riesgo" class="img-fluid mb-3 plan-img shadow">
                            <p class="card-text">Cobertura completa, incluyendo beneficios adicionales y el mejor servicio al cliente.</p>
                            <ul class="list-unstyled">
                                <li><i class="fas fa-check"></i> Responsabilidad Civil únicamente</li>
                                <li><i class="fas fa-check"></i> Robo Total</li>
                                <li><i class="fas fa-check"></i> Robo Parcial</li>
                                <li><i class="fas fa-check"></i> Incendio Total</li>
                                <li><i class="fas fa-check"></i> Incendio Parcial</li>
                                <li><i class="fas fa-check"></i> Daños Parciales</li>
                                <li><i class="fas fa-check"></i> <strong>Granizo</strong></li>
                                <li><i class="fas fa-check"></i> <strong>Destrucción Total</strong></li>
                                <li><i class="fas fa-check"></i> Servicios de Grúa <strong>Ilimitado</strong> por año</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- SECTION: Llamado a la Acción -->
    <section class="cta bg-success text-white text-center py-5">
        <div class="container">
            <h2 class="display-4">Protege tu vehículo hoy</h2>
            <p class="lead">Solicita tu cotización personalizada y descubre cómo Seguranet puede ayudarte.</p>
            <div class="text-center">
                <a href="http://127.0.0.1:5500/CotizadorSeguros/html/index.html" class="btn btn-light btn-lg text-success btn-hover">
                    Cotiza tu Auto Ya!!!
                </a>
            </div>
        </div>
    </section>
</main>

<!-- Estilos CSS -->
<style>
    .plan-img {
        width: 100%;
        height: 15rem;
        object-fit: cover;
        border-radius: 10px;
    }

    /* Hover effect on card */
    .hover-shadow:hover {
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
        transform: translateY(-10px);
        transition: all 0.3s ease-in-out;
    }

    /* Hover effect on button */
    .btn-hover:hover {
        background-color: #fff;
        color: #28a745;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease-in-out;
    }
</style>
