@{
    ViewBag.Title = "Contacto";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>


    <!-- SECTION: Contacto -->
    <section class="contact py-5">
        <div class="container">
            <p>Si necesitas ayuda adicional, no dudes en contactar a nuestro equipo de atención al cliente. Estamos aquí para ayudarte.</p>
            <ul class="list-unstyled">
                <address>
                <li><strong>Teléfono:</strong> 0800-123-4567</li>
                <strong>Support:</strong>
                <a href="mailto:Support@example.com">Support@example.com</a>
                <br />
                <strong>Marketing:</strong>
                <a href="mailto:Marketing@example.com">Marketing@example.com</a>
                <li><strong>Horario de Atención:</strong> Lunes a Viernes de 9:00 a 18:00</li>
                </address>
            </ul>
        </div>
    </section>


</main>