@using Seguranet.Models
@model Seguranet.Models.ContactoViewModel

@{
    ViewBag.Title = "Contacto";
}

<main>

    <section class="contact-info bg-light py-5">
        <div>
            <section>
                <iframe id="" allowtransparency="true" allowfullscreen="true" allow="geolocation; microphone; camera" src="https://2u2yqkbs.forms.app/form/674203e6abf58c3603bcd878" frameborder="0" style="width: 100%; min-width:100%; height:1800px; border:none;"></iframe>
            </section>
        </div>
    </section>


    <!-- SECTION: Información de Contacto -->
    <section class="contact-info bg-light py-5">
        <div class="container">
            <div class="row text-center">
                <!-- Información de Contacto -->
                <div class="col-md-6 mb-4">
                    <h3 class="display-6 text-success mb-4">Información de Contacto</h3>
                    <div class="lead mb-3">
                        <!-- Email -->
                        <div class="d-flex justify-content-center mb-3">
                            <strong class="mr-2">Email: </strong>
                            <a href="mailto:contacto@seguranet.com.ar" class="btn btn-outline-primary btn-lg">
                                <img src="https://cdn-icons-png.flaticon.com/512/732/732200.png" alt="Correo Electrónico" width="30" height="30">
                                Enviar Email
                            </a>
                        </div>

                        <!-- Teléfono y Whatsapp -->
                        <div class="d-flex justify-content-center">
                            <strong class="mr-2">Teléfono:  </strong>
                            <a href="https://wa.me/34632638449" target="_blank" class="btn btn-outline-success btn-lg">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp" width="30" height="30">
                                Enviar WhatsApp
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Horario de Atención -->
                <div class="col-md-6">
                    <h3 class="display-6 text-success mb-4">Horario de Atención</h3>
                    <div class="lead">
                        <p><strong>Lunes a Viernes:</strong> 9:00 AM - 6:00 PM</p>
                        <p><strong>Sábados:</strong> 9:00 AM - 2:00 PM</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
