@{
    Page.Title = "CotizadorAuto";
}

<div>
    <button type="submit" asp-page-handler="OnPost">Haz clic aquí</button>
</div>




<div>
    <button onclick="window.location.href='http://127.0.0.1:5500/CotizadorSeguros/html/index.html'">Ir a la Cotización</button>
</div>

