@{
    ViewBag.Title = "Seguranet";
}

<main>
    <section id="home" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="display-2">
                        <span class="display-2--intro">
                            Broker de Seguros
                        </span>
                    </h1>
                    <br>
                    <span class="display-2--description texto">
                        <br>
                        <strong>Quienes Somos</strong>
                        </br>
                        <br>
                        <br>
                        <p id="texto">
                            Somos una organización joven integrada por profesionales con amplia experiencia en seguros
                            así como en la evaluación y administración de riesgos.
                        </p>
                        <br>
                        <p id="texto">
                            Nuestro propósito es comprender las necesidades de nuestros clientes y brindarles soluciones
                            innovadoras.
                        </p>
                    </span>

                    <a href="#cotizador">

                        <button class="nav__link--button">
                            COTIZAR AHORA!
                            <span>
                                <i class="fas fa-cloud-download-alt"></i>
                            </span>
                        </button>
                    </a>

                </div>
                <div class="col">
                    <div class="img-box">
                        <img src="/Imagenes/proteccion-auto.png" alt="Personas dentro de un comercio" />
                    </div>
                </div>
            </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#fff" fill-opacity="1"
                  d="M0,96L48,117.3C96,139,192,181,288,176C384,171,480,117,576,122.7C672,128,768,192,864,197.3C960,203,1056,149,1152,144C1248,139,1344,181,1392,202.7L1440,224L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
            </path>
        </svg>
    </section>
    <section class="download ">
        <br>
        <div class="container">
            <div class="col">
                <H2 id="titulo" class="download__title">Cobertura Automotor</H2>
                <br>
                <div>
                </div>
                <br>
                <div class="container ">
                    <div class="row">
                        <div class="col">
                            <h3 class="download__title">Planes disponibles</h3>
                            <br>
                            <div>
                                <ul id="listaPlanes">
                                    <li class="planes">Responsabilidad Civil</li>
                                    <li class="planes">Tercero Completo</li>
                                    <li class="planes">Todo Riesgo</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h3 class="download__title">Ahorro Garantizado</h3>
                            <p class="descuento text-center">
                                Podes ahorrar entre un 10% y un 35% de lo que pagas
                                actualmente.<strong> Cotiza con nosotros!</strong>
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <!-- Card Bootstrap-->
                    <div id="1" class="card" style="width: 50rem;">
                        <img class="card-img-top" style="height: 250px;" src="/Imagenes/Baner-Automotor-1.jpg"
                             alt="Seguro de Responsabilidad Civil">
                        <div class="card-body">
                            <h4 class="card-title">Principales Coberturas para Vehículos</h4>
                            <p>
                                Nuestros seguros ofrecen una combinación de coberturas especialmente diseñadas para tu tranquilidad,
                                son hechas a medidas para tu vehículo.
                            </p>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="container">
                    <br>
                    <div class="row">
                        <div class="col">
                            <div class="download__logo-box">
                                <h4 id="subtituloServicio" class="download__title"> Atención las 24 Hrs</h4>
                                <a href="" target="_blank">
                                    <img src="/Imagenes/Diseño sin título.png" alt="Call Center"
                                         class="imagen" />
                                </a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="download__logo-box">
                                <h4 id="subtituloServicio" class="download__title"> Costo-Beneficio </h4>
                                <a href="" target="_blank">
                                    <img src="/Imagenes/Diseño sin título (1).png" alt="Inversión" class="imagen" />
                                </a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="download__logo-box">
                                <h4 id="subtituloServicio" class="download__title"> Servicios de Urgencia! </h4>
                                <a href="" target="_blank">
                                    <img src="/Imagenes/Diseño sin título (2).png"
                                         alt="Descargar desde Windows Store" class="imagen" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
    </section>
</main>